td {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

td:hover{
  background-color: lightgray;
}

.cellAlive{
  background-color: black;
}

.cellAlive:hover{
  background-color: black;
}
