td {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

#gameTable{
  margin-top: 120px;
  /*width: 98%;
  height: 100%;*/
  position: absolute;
}

td:hover{
  background-color: lightgray;
}

.cellAlive{
  background-color: black;
}

.cellAlive:hover{
  background-color: black;
}
